* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

a {
  color: aquamarine;
  font-size: 16px;
  display: block;
  margin: 10px;
}

.header-text {
  font-weight: normal;
  font-size: 50px;
  color: #fff;
  margin: 20px;
}

.video {
  margin: 10px auto;
}

.description-header,
h2 {
  font-size: 42px;
  font-weight: 300;
  color: #fff;
  margin: 20px;
}

.description-text {
  font-size: 21px;
  color: #808080;
  margin: 10px;
}

.camp-img {
  width: 60%;
  margin: 10px auto;
  display: block;
}

.phone-img {
  width: 50px;
  margin: 10px;
}

.footer-text {
  color: #808080;
  text-align: right;
  margin: 40px 15px 15px 15px;
}
